# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
*.spec

# Virtual environments
venv/
envs/
*.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Large binaries
*.exe
*.zip
*.tar.gz

# Node
node_modules/

# Data (user data, not code)
CET4-App/data/

# Temporary files
*.log
*.tmp

# Config with passwords
CET4-App/deploy.js

# Windows build artifacts
apk-build/
CET4-Android/
